<!doctype html>
<html ng-app="li.rnr-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ratings and Reviews</title>
    <meta name="description" content="Ratings and Reviews">
    <meta name="apple-mobile-web-app-title" content="Ratings and Reviews">
    <meta name="viewport" content="width=device-width">
  </head>
  <body id="li-body">
    <div class="li-content" ng-view></div>
    <script type="text/ng-template" id="main.html">
      <h1>Lithium RnR App!</h1>
      <div>Mode: <%= app.mode %></div>
      <li-rnr-reviews></li-rnr-reviews>
    </script>
    <script src="app.js"></script>
  </body>
</html>
